/*1*/
h2,h3,h4,h5,h6{font-family: sans-serif; color: rgb(14, 28, 102); font-weight: bold;}
/*1*/
h1,h3,h5 {font-stretch: expanded}
/*1*/
h2,h4,h6 {font-style: italic}
/*1*/
h1 {font-size: 4em; background-color: white;}
/*1*/
h2 {font-size: 3em}
/*1*/
h3 {font-size: 2em}
/*1*/
h4 {font-size: 1.5em}
/*1*/
h5 {font-size: 1em}
/*1*/
h6 {font-size: 0.8em}

/*1*/
* {font-size-adjust: inherit}

/*1*/
p, td, ul, ol, dl, blockquote{
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(14, 28, 102);
    background-color:whitesmoke;
}


body {
    font: 400 15px Tahoma; /*Familia sans-serif*/
    line-height: 1.5;
    color: black; /*Color default del texto*/
}



