/*1*/
body {
    font: 400 15px Tahoma; /*Familia sans-serif*/
    line-height: 1.5;
    color: black; /*Color default del texto*/
}

/*1*/
main {
    margin: 0px 10px 0px 5px;
}

/*1*/
h2,h3,h4,h5,h6{font-family: sans-serif; color: rgb(14, 28, 102); font-weight: bold;}
/*1*/
h1,h3,h5 {font-stretch: expanded}
/*1*/
h2,h4,h6 {font-style: italic}
/*1*/
h1 {font-size: 4em; color: white; padding: 5px 15px;}
/*1*/
h2 {font-size: 3em}
/*1*/
h3 {font-size: 2em}
/*1*/
h4 {font-size: 1.5em}
/*1*/
h5 {font-size: 1em}
/*1*/
h6 {font-size: 0.8em}


/*1*/
p, td, ul, ol, dl, blockquote{
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(14, 28, 102);
}

/*1*/
ul, ol {
    padding: 5px;
    background-position: 0px 2px;
    margin: 15px;
}
/*1*/
ul {
    list-style-type: square;
}
/*1*/
ol{
    list-style-type: upper-roman;
}

/*1*/
table, th,td {
    border: 1px solid rgb(14, 28, 102);
}

/*1*/
table {
    border-collapse: collapse;
    width: 100%;
    color :rgb(14, 28, 102);
    background-color: whitesmoke;
}

/*1*/
th{
    height: 10px;
}

/*1*/
td{
    text-align: center;
    vertical-align: center;
    padding: 5px;
}


/*11*/
a:link {
    color:blue;
    text-decoration: none;
}
/*11*/
a:visited{
    color:red;
    text-decoration: none;
}
/*11*/
a:hover{
    color:rgb(2, 73, 29);
    text-decoration: underline;
}
/*11*/
a:active{
    color:rgb(2, 73, 29);
    text-decoration: underline;
}

/*1*/
img, video {
    max-width: 100%;
    height: auto;
}