/*1*/ 
nav {
    padding: 5px 20px;
}
/*10*/ 
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
/*11*/ 
.navbar li {
    font-size: 16px;
    padding: 15px 5px;
}

/*22 cada una de ellas*/ 
.navbar li a:link, .navbar li a:visited{
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}
/* 22 cada una de ellas*/
.navbar li a:hover, .navbar li a:active{
    display: block;
    color: rgb(247, 236, 95);
}
