/*1*/ 
nav {
    background: #222;
    padding: 5px 20px;
}
/*10*/ 
.navbard {
    list-style-type: none;
    display: flex;
}
/*11*/ 
.navbar li {
    font-size: 16px;
    padding: 15px 5px;
}

/*12*/ 
.navbar li a {
    display: block;
}